<template xmlns="http://www.w3.org/1999/html">
    <div>
      <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a href="/" class="navbar-brand">Food-zero</a>
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/" class="navbar-brand">Home</a>
          </li>
<!--          <li v-if="showAdminBoard" class="nav-item">-->
<!--            <router-link to="/admin" class="nav-link">Admin Board</router-link>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <router-link v-if="currentUser" to="/user" class="nav-link">User</router-link>-->
<!--          </li>-->
        </div>

        <div  class="navbar-nav ml-auto">

          <li class="nav-item">

          </li>
        </div>
        <div  class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/login" class="navbar-brand">Login</a>
          </li>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
        <b-container fluid>
            <b-row>
              <div class="container fixed-top">
                <br />
                <br />
                <header class="card" style="width: 20rem">
                  <a class="nav-item">
                    <router-link to="/" class="nav-link">
                      <i class="fas fa-shopping-cart mr-1"></i>
                      Pannier
                      <strong
                      >(<span class="app-cart_totalPrice">{{ total }}</span
                      >) €</strong
                      >
                    </router-link>
                  </a>
                </header>
              </div>
            </b-row>
        <h2 class="text-center pb-5">View our New Menu</h2>
        <b-row align-h="center">
          <div class="align-content-center">
            <header class="jumbotron" style="width: 80rem">
              <div v-if="!user">
                <div v-for="title in data" :key="title.id">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="mb-2">{{ title["title"] }}</h5>
                      <h5 class="card-header">{{ title["sub"] }}</h5>
                      <br>
                      <div class="row">
                        <div
                            class="card"
                            v-for="list in title['detail']"
                            :key="list.key"
                            style="width: 25rem"
                        >
                          <div class="card-body">
                            <h5 class="card-title">
                              {{ list["name"] }}
                              <strong> {{ list["price"] }} € </strong>
                            </h5>
                            <p class="card-text">{{ list["description"] }}</p>
                            <a
                                v-on:click="addToCart(list['id'], title['detail'])"
                                class="btn btn-primary"
                            >Add to cart</a
                            >
                            <a
                                v-bind:href="'/showItem/'+title['id']+'/' + list['slug']"
                                class="btn btn-primary justify-content-lift"
                            >read more</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                  <br><br>
                <div class="content">
                  <form @submit="save">
                    <div class="row">
                      <div class="col">
                        <input
                            type="date"
                            class="form-control"
                            id="date"
                            required
                            name="date"
                            v-model="reservation.date"
                        />
                      </div>
                      <div class="col">
                        <input
                            type="time"
                            class="form-control"
                            placeholder=""
                            v-model="reservation.time"
                            name="time"
                        />
                      </div>
                      <div class="col">
                        <select class="form-control" v-model="reservation.person">
                          <option v-for="option in person" :value="option.value">
                            {{option.text}}
                          </option>

                        </select>
                      </div>
                      <input
                          type="submit"
                          class="btn btn-outline-primary" value=" Book now"
                      >


                    </div>
                  </form>
                </div>
              </div>
              <div v-if="user" class="container">
                <div class="col-lg-12 col-md-12">
                  <div class="card card-primary">
                    <div class="card-header">
                      <label class="card-title">
                        List Cart
                      </label>
                    </div>
                    <div class="card-body" style="max-height: 1000px;overflow-y: auto">
                      <table class="table table-bordered table-sm table-striped">
                        <thead>
                        <tr>
                          <th>Menu</th>
                          <th>Quantité</th>
                          <th>Prix unitaire</th>
                          <th>Prix total</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(list , i ) in allCart['menus']" :key="i" >
                            <td width="50">{{list["details"]["name"]}}</td>
                          <td width="50" class="text-center">{{list["qte"]}}</td>
                          <td width="50" class="text-right">{{ list["details"]["price"]}}  €</td>
                          <td width="50" class="text-right text-bold">{{ list["qte"] * list["details"]["price"]}} €</td>
                          <td width="150" class="text-center">
                            <a class="btn btn-outline-success text-danger" v-on:click='moveOneFromCart(list["details"]["id"])'>-
                              <i class="fas fa-trash"></i>
                            </a>
                            <a class="btn btn-outline-primary text-danger" v-on:click='addToCartMore(list["details"]["id"])'>+
                              <i class="fas fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="text-right text-lg">
                          <th colspan="3">Total:</th>
                          <th>
                            <span class="app-cart_totalPrice">{{ total }}</span>
                            €</th>
                          <th>
                            <a class="btn btn-secondary text-white" v-on:click='removeFromCart()'>Reset Cart
                              <i class="fas fa-trash"></i>
                            </a>
                          </th>

                        </tr>

                        </tfoot>
                      </table>

                    </div>

                        <form @submit="saveReservation">

                          <div class="card-body">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Date : {{this.date}}</label>
                              <label for="exampleInputEmail1">Time : {{this.time}}</label>
                              <label for="exampleInputEmail1">Person : {{this.personNb}}</label>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">LastName</label>
                              <input
                                  type="lastname"
                                  class="form-control"
                                  id="lastname"
                                  required
                                  name="lastname"
                                  placeholder="Enter lastname"
                                  v-model="userReservation.lastname"
                              />
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">FirstName</label>
                              <input
                                  type="firstname"
                                  class="form-control"
                                  id="firstname"
                                  required
                                  name="firstname"
                                  placeholder="Enter FirstName"
                                  v-model="userReservation.firstname"
                              />
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Address</label>
                              <input
                                  type="address"
                                  class="form-control"
                                  id="address"
                                  required
                                  name="address"
                                  placeholder="Enter address"
                                  v-model="userReservation.address"
                              />
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Phone</label>
                              <input
                                  type="phone"
                                  class="form-control"
                                  id="phone"
                                  required
                                  name="phone"
                                  placeholder="Enter phone"
                                  v-model="userReservation.phone"
                              />
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email</label>
                              <input
                                  type="email"
                                  class="form-control"
                                  id="email"
                                  required
                                  name="email"
                                  placeholder="Enter phone"
                                  v-model="userReservation.email"
                              />
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input
                                  type="password"
                                  class="form-control"
                                  id="password"
                                  required
                                  name="password"
                                  placeholder="Enter password"
                                  v-model="userReservation.password"
                              />
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">
                              Send Reservation
                              <strong>(<span class="app-cart_totalPrice">{{total }}</span>
                                €)
                                <i class="fas fa-cart-arrow-down fa-lg"></i>
                              </strong>
                            </button>
                          </div>
                        </form>
                    <div class="card-footer text-right">

                      <a class="btn btn-default mr-1">
                      </a>
                    </div>

                  </div>
                </div>


              </div>
            </header>

          </div>

        </b-row>
        </b-container>
    </div>
</template>
<script>
    export default {
        name: "home",
        data () {
            return {
                reservation : {
                  time:'',
                  date:'',
                  person: '',
                },
              userReservation : {
                firstname:'',
                lastname:'',
                address: '',
                password:'',
                phone: '',
                email:''
              },
                person:[
                  {'text': '1 person',value:1},
                  {'text': '2 person',value:2},
                  {'text': '3 person',value:3},
                  {'text': '4 person',value:4},
                  {'text': '5 person',value:5},
                  {'text': '6 person',value:6},
                  {'text': '7 person',value:7},
                ],
                data: [],
                isLoad: false,
                items: "",
                cart: [],
                total: 0,
                allCart: null,
                isValid : true,
                user:'',
                time:'',
                date:'',
                personNb:''
            }
        },
        methods: {

          change : function (){
            this.isValid = true
          },
          saveReservation(e){
            e.preventDefault()
            if (!this.userReservation.lastname){
              alert('Please add lastname')
              return
            }
            if (!this.userReservation.firstname){
              alert('Please add firstname')
              return
            }
            if (!this.userReservation.password){
              alert('Please add password')
              return
            }
            if (!this.userReservation.address){
              alert('Please add address')
              return
            }
            if (!this.userReservation.phone){
              alert('Please add phone')
              return
            }
            this.axios.post('/api/reservation/storeCart',{
              id:this.user,
              lastname:this.userReservation.lastname,
              firstname:this.userReservation.firstname,
              address:this.userReservation.address,
              phone:this.userReservation.phone,
              password:this.userReservation.password,
              email:this.userReservation.email
            }).then((response) => {
              localStorage.removeItem('userReservation')
              localStorage.removeItem('date')
              localStorage.removeItem('time')
              localStorage.removeItem('person')
              window.location.reload()
              console.log(response)
            },(error) => {
              error.toString()
            })
          },
          save(e){
            if (this.total == 0){
              alert('Please add your cart')
              return
            }
            e.preventDefault()
            if (!this.reservation.date){
              alert('Please add date')
              return
            }
            if (!this.reservation.time){
              alert('Please add time')
              return
            }
            if (!this.reservation.person){
              alert('Please add person')
              return
            }
            this.axios.post('/api/reservation/add',{
              date: this.reservation.date,
              time: this.reservation.time,
              person: this.reservation.person
            }).then((response) => {
              localStorage.setItem('userReservation', response.data.id)
              localStorage.setItem('date', response.data.date)
              localStorage.setItem('time', response.data.time)
              localStorage.setItem('person', response.data.person)
              window.location.reload()
            },(error) => {
              this.isLoad = false
              error.toString()
            })
          },
          //method permit to recuperate all items by category
          getAllItems: function() {
              this.axios.get('/api/listArticle').then((response) => {
                // localStorage.removeItem('cart')
                this.data = response.data.data,
                this.isLoad = response.data.status
              },(error) => {
                this.isLoad = false
                    error.toString()
              })
          },
          addToCart: function (idArticle,val) {
            const item = val.find(({ id }) => id === idArticle);
            this.axios.post(item["_sub"]["_links_local"],
                {
                      id:idArticle,
                      status:false
                }).then((response) => {
                  if (response.status === 200) {
                      console.log(response.data)
                      this.total = response.data.data.total
              }
            });
            },
          addToCartMore: function (idArticle) {
            this.axios.post('/api/article/add',
                {
                  id:idArticle,
                  status:false
                }).then((response) => {
              if (response.status === 200) {
                window.location.reload()
                this.total = response.data.data.total
              }
            });
          },
          moveOneFromCart(idArticle) {
            console.log(idArticle);
            this.axios.post('/api/article/add',{
              id:idArticle,
              status:true
            }).then((response) => {
              if (response.status === 200) {
                window.location.reload()
                this.total = response.data.data.total
              }
            });
          },
          removeFromCart() {
            this.axios.delete('/api/cart/rest').then((response) => {
              if (response) {
                this.user = localStorage.removeItem('userReservation')
                this.date = localStorage.removeItem('date')
                this.time = localStorage.removeItem('time')
                this.personNb = localStorage.removeItem('person')
                window.location.replace('/')
                this.total = response.data.data.total
              }
            });
          },
          getAllTotalItems(){
            this.axios.get('api/article/viewListCartArticle',
                ).then((response) => {
              if (response.status === 200) {
                this.total = response.data.total
                this.allCart = response.data
                console.log(response.data.data)
              }
            });
          }
        },

        created(){
          this.user = localStorage.getItem('userReservation')
          this.date = localStorage.getItem('date')
          this.time = localStorage.getItem('time')
          this.personNb = localStorage.getItem('person')
            this.getAllItems();
            this.getAllTotalItems();
        }
    }
</script>
<style scoped>
</style>

