<template xmlns="http://www.w3.org/1999/html">
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <a href="/" class="navbar-brand">Food-zero</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="navbar-brand">Home</a>
        </li>
      </div>

      <div  class="navbar-nav ml-auto">
        <li class="nav-item">

        </li>
      </div>
      <div  class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/logout" class="navbar-brand">Logout</a>
        </li>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center pb-5">Dashboard User</h2>
    <!--        <b-row align-h="center">-->
    <div class="align-content-center">
      <header class="">
        <div class="container">
          <div class="col-lg-12 col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <label class="card-title">
                  List Reservation
                </label>
              </div>
              <div class="card-body" >
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>date</th>
                    <th>Person</th>
                    <th>Status</th>
                    <th>List Article</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(list , i) in data" :key="i">
                    <td class="text-center">{{list["date"]}}</td>
                    <td class="text-center">{{ list["person"]}}</td>
                    <td class="text-right text-bold">{{ list["status"]}}</td>
                    <td class="text-right text-bold">
                      <table class="table table-bordered table-hover">

                        <tr v-for="(item , o ) in list['list_reservation']">
                          <th>{{item["article"]}}</th>
                          <th>{{item["price"]}}</th>
                          <th>{{item["number"]}}</th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</template>
<script>
export default {
  name: "profile",
  data () {
    return {
      data: [],
    }
  },
  methods: {
    getAllItems: function() {
      this.axios.get('/api/profile/allReservation').then((response) => {
        this.data = response.data.data
        console.log(this.data)
      },(error) => {
        this.isLoad = false
        error.toString()
      })
    },
    changeStatus (id) {
      this.axios.put('api/admin/reservation/accept',
          {
            id:id,
            status:true
          }).then((response) => {
        if (response.status === 200) {
          window.location.reload()
        }
      });
    },
    removeReservation (id) {
      this.axios.post('api/admin/reservation/delete',
          {
            id:id
          }).then((response) => {
        if (response.status === 200) {
          window.location.reload()
        }
      });
    },
    refusedStatus(id){
      this.axios.put('api/admin/reservation/accept',
          {
            id:id,
            status:false
          }).then((response) => {
        if (response.status === 200) {
          window.location.reload()
        }
      });
    }
  },
  created(){
    this.getAllItems();
  }
}
</script>
<style scoped>
</style>

