<template xmlns="http://www.w3.org/1999/html">
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <a href="/" class="navbar-brand">Food-zero</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="navbar-brand">Home</a>
        </li>
        <!--          <li v-if="showAdminBoard" class="nav-item">-->
        <!--            <router-link to="/admin" class="nav-link">Admin Board</router-link>-->
        <!--          </li>-->
        <!--          <li class="nav-item">-->
        <!--            <router-link v-if="currentUser" to="/user" class="nav-link">User</router-link>-->
        <!--          </li>-->
      </div>

      <div  class="navbar-nav ml-auto">

        <li class="nav-item">

        </li>
      </div>
      <div  class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/login" class="navbar-brand">Login</a>
        </li>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <b-container fluid>
      <b-row>
        <div class="container fixed-top">
          <br />
          <br />
          <header class="card" style="width: 20rem">
            <a class="nav-item">
              <router-link to="/" class="nav-link">
                <i class="fas fa-shopping-cart mr-1"></i>
                Pannier
                <strong
                >(<span class="app-cart_totalPrice">{{ total }}</span
                >) €</strong
                >
              </router-link>
            </a>
          </header>
        </div>
      </b-row>
      <h2 class="text-center pb-5">{{data["category"]}}</h2>
      <h5 class="text-center pb-5">{{data["descriptionCategory"]}}</h5>
      <b-row align-h="center">
        <div class="align-content-center">
          <header class="jumbotron" style="width: 35rem">
            <div class="card">

                    <div class="card-body">
                      <h5 class="card-title">
                        {{ data["detail"]["name"] }}
                        <strong> {{ data["detail"]["price"] }} € </strong>
                      </h5>
                      <p class="card-text">{{ data["detail"]["description"] }}</p>
<!--                      <a-->
<!--                          v-on:click="addToCart(data['detail']['id'])"-->
<!--                          class="btn btn-primary align-items-end"-->
<!--                      >Add to cart</a-->
<!--                      >-->
                    </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">

                      <a
                          v-bind:href="data['detail']['_links']['_prev']['_route']"
                          class="btn btn-primary align-items-end"
                      >previous</a
                      >
                  </div>
                  <div class="col"></div>
                  <div class="col">
                    <a
                        v-bind:href="data['detail']['_links']['_next']['_route']"
                        class="btn btn-primary align-items-end"
                    >Next</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "show-item",
  data () {
    return {
      data: [],
      isLoad: false,
      total: 0,
      url : '',
    }
  },
  methods: {
    //method permit to recuperate all items by category
    getItems: function() {
      this.axios.get('/api/article/viewListCartArticle').then((response) => {
        localStorage.removeItem('cart')
        this.data = response.data.data,
        this.isLoad = response.data.status
        this.total = response.data.total
      },(error) => {
        this.isLoad = false
        error.toString()
      })
    },
    addToCart: function (idArticle,val) {
      const item = val.find(({ id }) => id === idArticle);
      this.axios.post(item["_sub"]["_links_local"],
          {
            id:idArticle
          }).then((response) => {
        if (response.status === 200) {

        }
      });
    },
    getAllTotalItems(){
      this.axios.put(this.url).then((response) => {
        if (response) {
          this.data = response.data.data.currentData
          console.log(this.data)
        }
      });
    }
  },
  created(){
    this.uri = window.location.pathname;
    this.getItems();
    this.getAllTotalItems();
  }
}
</script>

<style scoped>

</style>