{# Base template, to be extended by other templates. #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block scripts_head %}
            <script
                    src="https://code.jquery.com/jquery-3.5.1.min.js"
                    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% endblock %}
        {% block custom_script_head %}
        {% endblock %}
        {% block stylesheets_head %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
        {% block vue_head %}
        {% endblock %}
    </head>
    <body>
    {% block header %}
    {% endblock %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-0">
                </div>
                <div class="col-lg-6 col-md-12 pt-5">
                    {% block body %}{% endblock %}
                    {% block footer %}
                        <p><a href="{{ path('homepage') }}">Back to homepage</a></p>

                    {% endblock %}
                </div>
                <div class="col-lg-3 col-md-0">
                </div>
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
        {% block vue_scripts %}
        {% endblock %}
    </body>
</html>
